/* Universal styling */
ul {
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}
li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif
}
a {
    color: white;
    text-decoration: none;
}

/* All "recipe" lists are considered flex-box containers*/
.recipe {
    display: flex;
    padding: 5px 0px;
}

/* Per specs - explicitly "hide" the calories span but keep it in the DOM for use in script */
.calories {
    width: 0;
    visibility: hidden;
}

/* Get the recipe name span be the clickable box */
.recipe > span:nth-child(2) {
    color: white;
    font-weight: bold;
    background-color: #2D5B8E;
    list-style-type: none;
    flex-basis: 250px;
    padding: 5px;
    height: 100px;
    cursor: pointer;
}

/* ---- Ingredients ----- */

/* Ingredients are also a flex item.
   To enable a scroll bar, give it a height and set its overflow to auto
*/
.ingredients {
    overflow: hidden;
    height: 100px;
    border: 1px grey;
    width: 0px;  /* inactive state means collapse width to hide */
    box-shadow: none;
    padding: 5px;
    transition: width 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* use CSS3 transitions for animations */
}

.ingredients--active {
    width: 250px;
    overflow: auto;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.ingredients > li {
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    color: #2D5B8E;
}

.amount {
    font-weight: normal; 
    padding-right: 3px;
}


